.adminPageHeader {
    color:"rgba(54,54,54,255)";

    /* h6 properties */
    display: block;
    /* font-size: 1.2em; */
    margin-top: 0.05em;
    margin-bottom: 4em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

strong {
    color: black;
    font-size: 1.2em;
  }
  
.tableHeader{
    color: black;
    font-size: 1.2em;
}