
  
  .dashboard-card-text {
    font-size: 32px;
    text-align: center;
    margin-top: 10%;
  }
  
.green {
  background-color: #e7f0d3;
  border: 1px lightgrey solid;
}

.red {
  background-color: rgba(255, 208, 202, 255);
}

.ready {
  background-color: #fff2d3;
  border: 1px lightgrey solid;

}

.notReady {
  background-color: #eb4c46;
  border: 1px lightgrey solid;

}

#pieChartContainer {
    max-width: 600px;
    margin: 0 auto
}
.dashboard-card {
    min-height: 7em;
    border: lightGrey 2px solid;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    text-align: center;

  }
